@import "../../assets/styles/colors";
@import "../../assets/styles/screens";

.ticket {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 #0000001a;
  cursor: pointer;
  transition: all 0.3s ease;

  @include phone {
    cursor: default;
  }

  @include phone-xs {
    padding: 12px;
  }

  &:hover {
    box-shadow: 0 2px 8px 3px #0000001a;

    @include phone {
      box-shadow: 0 2px 8px 0 #0000001a;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $blue-base;
  }

  &__airlane {
    width: 120px;
    height: 40px;
    object-fit: contain;
  }
}
