@import "../../assets/styles/colors";

.ticket-destination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: $blue-light;
    text-transform: uppercase;
  }

  &__value {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }
}
