.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  &--sm {
    img {
      width: 24px;
      height: 24px;
    }
  }

  &--md {
    img {
      width: 32px;
      height: 32px;
    }
  }
}
