.display--large {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.display--medium {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.display--small {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.label--large {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

.label--medium {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.paragraph--medium {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
